.navbarbottom {
    height: 80px;
    background: #0A223D;

    // .container {
    //     @media(max-width: 580px) {
    //         padding: 0;
    //     }
    // }

    &__menu {
        height: 100%;
    }

    &__items {
        position: relative;
        border: none;
        border-radius: 2px;
        display: flex;
        list-style: none;
        padding: 10px;

        @media(max-width: 1200px) {
            justify-content: center;
        }

        // @media(max-width: 922px) {
        //     display: inline-flex;
        // }

        @media(max-width: 767px) {
            display: inline-flex;
            flex-wrap: wrap;
        }
    }

    &__item {
        color: #ffffff;
        list-style-type: none;
        cursor: pointer;
        text-transform: uppercase;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;

        &:hover {
            transition: .2s linear;
            border-bottom: 3px solid #fff;
        }

        @media(max-width: 1200px) {
            margin: 0 10px 0 10px;
        }

        @media(max-width: 922px) {
            margin: 0 5px 0 5px;
            font-size: 10px;
        }

        @media(max-width: 580px) {
            font-size: 8px;
        }

    }

    &__link {
        position: relative;
        padding: 0.6em 2em;
        font-size: 18px;
        border: none;
        display: inline-block;
        text-decoration: none;
        z-index: 3;
    }

    &__first, &__second {
        position: absolute;
        bottom: 10px;
        display: inline-block;
        height: .4em;
        border-radius: 10em;
        transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1.05);
    }

    &__first {
        background-color: #4567b2;
        z-index: 2;
    }

    &__second {
        opacity: 0;
        background: yellowgreen;
        z-index: 1;
        transform: translateY(10px);
    }

    .squeeze {
        transform: scale(0.5,1);
    }
}


